@charset "UTF-8";

.kadomaru {
  color: #FFFFFF;
  background-color: #B5ACA1;
  border-radius: 10px;
  text-align: center;
  padding: 8px 16px; /* 縦横の余白を調整 */
  display: inline-block;
  width: auto; /* 必要なら明示的に */
  white-space: nowrap; /* 改行しない */
  font-size: 14px;
  max-width: 160px; /* 必要なら最大幅を指定 */
}
/* ヘッダー全体 */
.header {
	background-color: #fef4f4;  
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px 30px;
	/*box-shadow: 0 2px 4px #ccc;*/
	height: 138px;
	position: relative;
}
.makan{
	position: absolute;
	top:10px;
	left:50%;
	font-size:1.4rem;
	font-weight: Bebas Neue;
	color:F5B1AA;
	letter-spacing: 3px;
}
.logo{
	display:flex;
	align-items: center;
	gap: 10px;
}
.logo_img {
	height: 40px;
	margin-left: 20px;
}
.logo_img img{
	height: 128px;
	width: auto;
	object-fit: contain;
	position: absolute;
	top: 20px;
	left: 10px;
	
	
}

