@charset "UTF-8";
.login_body {
      background-color: #f5b1aa;/*#fef4f4*/
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
      font-family: sans-serif;
    }
.login_box {
      background: #fef4f4;/*#f5b1aa*/
      border-radius: 18px;
      box-shadow: 0 8px 40px white;
      padding: 50px 42px 36px 42px;
      width: 350px;
      display: flex;
      flex-direction: column;
      align-items: center;/*strech*/
      border: 4px solid #111;
    }
 #ID_login,#pass_login{
 	box-sizing:border-box;
 	width:200px;
 }
 
 .kadomaru:hover{
 	  color: #B5ACA1;
  background-color: white;
 }
   