@charset "UTF-8";

/*チャート*/
 #weightchart-container,#incomechart-container{
  width: 80%;
  margin: 40px auto;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #FEF4F4;
  border-radius: 12px; /* 角丸 */
  cursor: pointer;  
  transition: background-color 0.3s ease;
}

/* ホバー時の色 */
button:hover {
  background-color: #F5B1AA;
}

#mama-incomegraph {
  position:relative;
  bottom:550px;
  left: 1300px;
 }
 
#mama-weightgraph {
  position:relative;
  bottom:600px;
  left: 1300px;
 }
 
#now-incomegraph{
  position:relative;
  bottom:500px;
  left: 1230px;
}

#now-weightgraph{
  position:relative;
  bottom:550px;
  left: 1300px;
}

h2{
  text-align:center;
  
}

.info_weightgraph{
	  background-color: #FEF4F4;
	  border-radius: 12px; /* 角丸 */
	  border: 2px solid #111;
	  width:80%;
	  margin:0 auto 60px auto;
	
}

.info_weightgraph > p{
	text-align:center;
	
}