@charset "UTF-8";

/*チャート*/
 #weightchart-container {
  width: 80%;
  margin: 40px auto;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 16px;
  background-color: #f5f5f5;
  border-radius: 12px; /* 角丸 */
  cursor: pointer;  
  transition: background-color 0.3s ease;
}

/* ホバー時の色 */
:hover {
  background-color: #e0e0e0;
}