@charset "UTF-8";
/*h2タグに付与*/
.midashi {
	text-align: center;
}

.left {
	text-align: left;
}
main {
	font-size: 1.5rem;
}

table {
	margin: auto;
}

input{
	width: 8em;
}

input[name=dependent]{
	width: 1em;
}


/*ラジオボタンのデザイン*/
input[type=radio] {
display: none; /* ラジオボタンを非表示にする */
}
input[type="radio"]:checked + label {
	background: #31A9EE;/* マウス選択時の背景色を指定する */
	color: #ffffff; /* マウス選択時のフォント色を指定する */
}
.label:hover {
background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
}
.label{
	display: block; /* ブロックレベル要素化する */
	float: left; /* 要素の左寄せ・回り込を指定する */
	margin: auto; /* ボックス外側の余白を指定する */
	;
	width: 100px; /* ボックスの横幅を指定する */
	height: 48px; /* ボックスの高さを指定する */
	padding-left: 50px; /* ボックス内左側の余白を指定する */
	padding-right: 50px; /* ボックス内御右側の余白を指定する */
	text-align: center; /* テキストのセンタリングを指定する */
	line-height: 45px; /* 行の高さを指定する */
	cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
	border: 2px solid #006DD9;/* ボックスの境界線を実線で指定する */
	border-radius: 5px; /* 角丸を指定する */
}
/*input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
input[type="number"]:focus {
    border-color: #007BFF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}
input[type="radio"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 2px solid #007BFF;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    margin-right: 10px;
}

input[type="radio"]:checked {
    background-color: #007BFF;
    border-color: #007BFF;
}*/


/*例*/
.Form {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  max-width: 720px;
}
@media screen and (max-width: 480px) {
  .Form {
    margin-top: 40px;
  }
}
.Form-Item {
  border-top: 1px solid #ddd;
  padding-top: 24px;
  padding-bottom: 24px;
  width: 100%;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Form-Item {
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 16px;
    padding-bottom: 16px;
    flex-wrap: wrap;
  }
}
.Form-Item:nth-child(5) {
  border-bottom: 0px solid #ddd;
}
.Form-Item-Label {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label {
    max-width: inherit;
    display: flex;
    align-items: center;
    font-size: 15px;
  }
}
.Form-Item-Label.isMsg {
  margin-top: 8px;
  margin-bottom: auto;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label.isMsg {
    margin-top: 0;
  }
}
.Form-Item-Label-Required {
  border-radius: 6px;
  margin-right: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 48px;
  display: inline-block;
  text-align: center;
  background: #5bc8ac;
  color: #fff;
  font-size: 14px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Label-Required {
    border-radius: 4px;
    padding-top: 4px;
    padding-bottom: 4px;
    width: 32px;
    font-size: 10px;
  }
}
.Form-Item-Input {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em;
  height: 48px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Input {
    margin-left: 0;
    margin-top: 18px;
    height: 40px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Item-Textarea {
  border: 1px solid #ddd;
  border-radius: 6px;
  margin-left: 40px;
  padding-left: 1em;
  padding-right: 1em;
  height: 216px;
  flex: 1;
  width: 100%;
  max-width: 410px;
  background: #eaedf2;
  font-size: 18px;
}
@media screen and (max-width: 480px) {
  .Form-Item-Textarea {
    margin-top: 18px;
    margin-left: 0;
    height: 200px;
    flex: inherit;
    font-size: 15px;
  }
}
.Form-Btn {
  border-radius: 6px;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 280px;
  display: block;
  letter-spacing: 0.05em;
  background: #5bc8ac;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
}
@media screen and (max-width: 480px) {
  .Form-Btn {
    margin-top: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 160px;
    font-size: 16px;
  }
}

/* 結果画面のデザイン*/

.Form-Item-Result {
  border-radius: 6px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 6em;
    padding-right: 1em;
    padding-top: 8px;
    padding-bottom: 8px;
    height: 48px;
    flex: 1;
    width: 100%;
    max-width: 410px;
    font-size: 26px;
}
	
.Form-Item-Label-Result {
  width: 100%;
  max-width: 248px;
  letter-spacing: 0.05em;
  font-weight: bold;
  font-size: 18px;
  padding-left: 5em;
}	

/*ボタンのデザイン*/
.kadomarutake{
	border-top: 1px solid #ddd;
	color: white;
  background-color: #B5ACA1;
  border-radius: 10px;
  padding: 16px 40px;
  white-space: nowrap;
  font-size: 26px;
  max-width: 210px;
  text-decoration: none;
  font-weight: bold;
  display: block;        /* ブロック要素にして中央寄せ可能に */
  margin: 30px auto;     /* 上下マージン20px、左右自動で中央揃え */
  text-align: center;
  border: none;
  cursor: pointer;
  /*CSSサイト参考↓*/
  
}

